{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<section class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-5 col-md-7">

            <div class="card shadow-lg border-0 rounded-4">

                <div class="card-body p-5">

                    <div class="text-center mb-4">

                        <h2 class="fw-bold">
                            Welcome Back
                        </h2>

                        <p class="text-muted">
                            Login to your account
                        </p>

                    </div>

                    {% if error %}

                    <div class="alert alert-danger">

                        {{ error }}

                    </div>

                    {% endif %}

                    <form method="POST">

                        {% csrf_token %}

                        <div class="mb-3">

                            <label class="form-label">

                                Username

                            </label>

                            <input
                                type="text"
                                name="username"
                                class="form-control"
                                placeholder="Enter username"
                                required>

                        </div>

                        <div class="mb-4">

                            <label class="form-label">

                                Password

                            </label>

                            <input
                                type="password"
                                name="password"
                                class="form-control"
                                placeholder="Enter password"
                                required>

                        </div>

                        <button
                            type="submit"
                            class="btn btn-primary w-100">

                            Login

                        </button>
                       
                    </form>

                    <hr>

                    <div class="text-center">

                        Don't have an account?

                        <a href="{% url 'register' %}">

                            Register

                        </a>
                        <a href="{% url 'forgot_password' %}">

                            Password Reset

                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}